.user {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--orange-100);
  text-align: center;
  line-height: 2.5rem;
}

.offcanvas-body {
  background-color: #249ea0;
}
.offcanvas-header {
  background-color: var(--orange-100);
}
