@use './../../assets/style/mixins' as *;

.nav-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--dark-bg);
  color: var(--light-font);
  margin: 2rem;
  border-radius: 25% 0 25% 0;

  h1 {
    background: var(--orange-100);
    color: var(--dark-bg);
    padding: 12px;
    border-radius: 25% 0 25% 0;
  }
  @include mobile {
    justify-content: center;
    width: 10%;
  }
}

ul {
  display: flex;
  list-style: none;
  column-gap: 2rem;

  li {
    background: var(--orange-100);
    padding: 12px;
    color: var(--dark-bg);
    border-radius: 25% 0 25% 0;
    cursor: pointer;
    transition: all 0.3s ease;

    a {
      text-decoration: none;
      color: var(--dark-bg);

      &:hover {
        color: var(--orange-300);
      }
      &.active,
      &:active {
        color: var(--orange-500);
      }
    }
  }

  @include mobile {
    justify-content: center;
    width: 100%;
  }
}
